<h1>Editing Restaurant</h1>

<%= render 'form' %>

<%= link_to 'Show', @restaurant, :class => 'waves-effect waves-light btn' %> |
<%= link_to 'Back', restaurants_path, :class => 'waves-effect waves-light btn' %>
