<!--Nav-->
  <nav>
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Yelp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
		<li><a href="/pages/about">ABOUT</a></li>
        <li><a href="/pages/contact">CONTACTS</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">HOME</a></li>
		<li><a href="/pages/about">About</a></li>
        <li><a href="/pages/contact">Contacts</a></li>
        
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>